# postgres
PG_HOST=localhost
PG_USER=postgres
PG_PASSWORD=postgres
PG_NAME=dbname

# cache
CACHE_ENABLED=True
LOCATION=redis://127.0.0.1:6379

# sending email service
EMAIL_HOST=smtp.yandex.ru
EMAIL_HOST_USER=email@yandex.ru
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=default@yandex.ru