{% extends 'main/base.html' %}

{% block content %}

    <h1 class="m-4">Список пользователей</h1>

    {% for user in object_list %}
        <c-card type="Пользователь" title={{ user.email }} subtitle="{% if user.is_active %}Активный{% else %}Забанен{% endif %}">
            <a class="btn btn-info" href="{% url 'mailing:manager_mailing_list' user.id %}">Список рассылок</a>
            {% if user.is_active %}
                <a class="btn btn-danger" href="{% url 'users:toggle_active' user.id %}">Забанить</a>
            {% else %}
                <a class="btn btn-secondary"
                   href="{% url 'users:toggle_active' user.id %}">Разбанить</a>
            {% endif %}
        </c-card>
    {% endfor %}

{% endblock content %}
